html
    head
        title="Video Upload"
    body

        h4="Select a file to upload: "
        form(action="/video/upload", method="POST", enctype="multipart/form-data")
            input(type="file", name="youtube_file")
            input(type="submit", value="Upload file")
